# Load the Packages

In [ ]:
import pandas as pd

# Loading datasets
1. extensions(.xlsx, .csv, .json, .parquet)
2. know where the file is stored.

In [ ]:
housing = pd.read_csv('housing.csv')

In [ ]:

housing.head() #

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:

housing.tail() #

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:

housing.shape # number of rows and columns

(545, 13)

In [ ]:

housing.info() # summary of the dataset

<class 'pandas.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    str
 6   guestroom         545 non-null    str
 7   basement          545 non-null    str
 8   hotwaterheating   545 non-null    str
 9   airconditioning   545 non-null    str
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    str
 12  furnishingstatus  545 non-null    str
dtypes: int64(6), str(7)
memory usage: 55.5 KB

In [ ]:
housing.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [ ]:
housing.values # values of the dataset

array([[13300000, 7420, 4, ..., 2, 'yes', 'furnished'],
       [12250000, 8960, 4, ..., 3, 'no', 'furnished'],
       [12250000, 9960, 3, ..., 2, 'yes', 'semi-furnished'],
       ...,
       [1750000, 3620, 2, ..., 0, 'no', 'unfurnished'],
       [1750000, 2910, 3, ..., 0, 'no', 'furnished'],
       [1750000, 3850, 3, ..., 0, 'no', 'unfurnished']],
      shape=(545, 13), dtype=object)

# Measures of  Central Tendency

In [ ]:
housing.columns # column names of the dataset

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='str')

In [ ]:
housing["price"] # access a specific column

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [ ]:
housing["price"].mean() # mean of the price column

np.float64(4766729.247706422)

In [ ]:
housing["price"].median()

np.float64(4340000.0)

In [ ]:
housing["price"].mode()

0    3500000
1    4200000
Name: price, dtype: int64

# Measures of dispersion
. range
. std
. var
. min
. max

In [ ]:
## min
min_price = housing["price"].min()
min_price

np.int64(1750000)

In [ ]:
## max
max_price = housing["price"].max()
max_price

np.int64(13300000)

In [ ]:
## range
price_range = max_price - min_price
price_range

np.int64(11550000)

In [ ]:
## Standard Deviation
price_std = housing["price"].std()
price_std

np.float64(1870439.6156573922)

In [ ]:
housing["price"].std() # standard deviation using pandas method

np.float64(1870439.6156573922)

In [ ]:
## variance
price_variance = housing["price"].var()
price_variance

np.float64(3498544355820.573)

In [ ]:
q1 = housing["price"].quantile(0.25) # lower quartile
q2 = housing["price"].quantile(0.75) # upper quartile
iqr = q2 - q1 # interquartile range
iqr

np.float64(2310000.0)